apiVersion: v1
kind: Config
clusters:
  - name: target-cluster
    cluster:
      server: https://<API_SERVER_HOST>:6443
      certificate-authority-data: <BASE64_CA_CRT>
contexts:
  - name: account-creation-user@target-cluster
    context:
      cluster: target-cluster
      namespace: account-creation
      user: account-creation-user
current-context: account-creation-user@target-cluster
users:
  - name: account-creation-user
    user:
      token: <SERVICE_ACCOUNT_TOKEN>
