nameOverride: ""
fullnameOverride: ""

names:
  deployment: hpa-web
  service: hpa-web-svc
  hpa: hpa-web
  loadGenerator: load-generator

replicaCount: 1

image:
  repository: registry.k8s.io/hpa-example
  pullPolicy: IfNotPresent
  tag: ""

service:
  type: ClusterIP
  port: 80
  targetPort: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 0
      selectPolicy: Max
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15
        - type: Pods
          value: 4
          periodSeconds: 15
    scaleDown:
      stabilizationWindowSeconds: 30
      selectPolicy: Max
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15

loadGenerator:
  enabled: false
  image:
    repository: busybox
    tag: "1.36"
    pullPolicy: IfNotPresent
