apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: stateful-writer
  namespace: workloads
spec:
  serviceName: stateful-writer-headless
  replicas: 2
  selector:
    matchLabels:
      app: stateful-writer
  template:
    metadata:
      labels:
        app: stateful-writer
    spec:
      securityContext:
        fsGroup: 1000
      initContainers:
        - name: fix-permissions
          image: busybox:1.36
          command: ["sh", "-c", "mkdir -p /data/shared && chown -R 1000:1000 /data/shared && chmod -R 0775 /data/shared"]
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: shared
              mountPath: /data/shared
      containers:
        - name: writer
          image: vinodhconnects/shared-writer:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: MODE
              value: loop
            - name: PREFIX
              value: statefulset
            - name: INTERVAL_SECONDS
              value: "12"
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          volumeMounts:
            - name: shared
              mountPath: /data/shared
      volumes:
        - name: shared
          persistentVolumeClaim:
            claimName: workloads-shared-pvc
