apiVersion: batch/v1
kind: CronJob
metadata:
  name: scheduled-writer
  namespace: workloads
spec:
  schedule: "*/2 * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: writer
              image: workloads-writer:1.0
              imagePullPolicy: IfNotPresent
              env:
                - name: MODE
                  value: once
                - name: PREFIX
                  value: cronjob
                - name: NODE_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: spec.nodeName
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
              volumeMounts:
                - name: shared
                  mountPath: /data/shared
          volumes:
            - name: shared
              persistentVolumeClaim:
                claimName: workloads-shared-pvc
