apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: kustomize-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: nginx:1.27
          ports:
            - containerPort: 80
          env:
            - name: APP_TITLE
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: APP_TITLE
            - name: APP_MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: APP_MESSAGE
