apiVersion: v1
kind: Service
metadata:
  name: web-svc
  namespace: kustomize-demo
spec:
  type: ClusterIP
  selector:
    app: web
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
